@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
ul {
  display: flex;
}
li {
  list-style-type: none;
}
.red {
  color: rgb(141, 22, 22);
}

.container {
  padding: 56px 0;
}
.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
/*animations*/
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-in{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100%;
  }
}
/*Button*/
.btn__menu{
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  color: #242424;
  display: none;
  padding: 16px;
}
.menu__backdrop{
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
  
}
.menu--open{
  max-width: 100vh;
  overflow-y: hidden;
}
.menu--open .menu__backdrop{
  
  visibility: visible;
  opacity: 1;
}
.btn__menu--close{
  position: absolute;
  right: 20px;
  top:10px;
  padding: 8px;
  color: white;
}
.menu__links{
  display: flex;
  flex-direction: column;
  align-items: center;
  

}
.nav__button__link--primary{
  background-color: white;
  color: #242424;
  font-size:32px;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 24px;
  transition: 300ms all ease;

}
.nav__button__link--primary:hover{
  background-color: #671414;
  color:white;
}
.menu__list{
  padding: 32px 0;
  position: relative;
}
.menu__link{
  font-size: 32px;
  color: #fff;
  text-decoration: none;
}

/*NAV*/
nav {
  height: 80px;
  display: flex;

  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  background-color: rgba(211, 211, 211, 0.527);
}

.nav__logo--wrapper {
  display: flex;
  align-items: center;
  padding-left: 24px;
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
}
.logo__para {
  font-size: 12px;
  color: #242424;
  transition: all 500ms ease;
  text-decoration: none;
}
.nav__logo {
  height: 60px;
}
.logo__title {
  font-size: 32px;

  letter-spacing: 0.02em;
  color: #242424;
  transition: all 500ms ease;
  text-decoration: none;
}

.nav__link {
  text-decoration: none;
  color: #242424;
  margin: 0 16px;
  font-size: 20px;
  position: relative;
}
.link__hover-effect:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0px;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}
.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}
.link__hover-effect--black:after {
  background-color: #242424;
}
.link__hover-effect--white:after {
  background-color: white;

  
}

.nav__link--primary {
  background-color: #242424;
  color: white;
  padding: 12px 24px;
  border-radius: 32px;
  transition: all 300ms ease;
}
.nav__link--primary:hover {
  background-color: rgb(120, 15, 15);
  color: white;
}
.logo__text:hover .logo__title {
  color: #df0506;
}
.logo__text:hover .logo__para {
  color: #df0506;
}
/*HEADER*/
header {
  background-image: linear-gradient(rgba(211, 211, 211, 0.527), #df05058c);
  padding-top: 32px;
  height: calc(100vh - 80px);
  
}
.header__container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__title {
  font-size: 36px;
  color: rgb(142, 19, 19);
  margin-bottom: 16px;
  text-align: center;
  animation: fade-up 1000ms 800ms;
}
.header__para {
  text-align: center;
  font-size: 18px;
  margin-bottom: 8px;
  animation: fade-up 1400ms 900ms;
  
}
.header__btn {
  margin-top: 20px;
  padding: 16px 24px;
  background-color: rgb(142, 19, 19);
  color: white;
  text-decoration: none;
  font-size: 20px;
  border-radius: 24px;
  transition: all 300ms ease;
  margin-bottom: 20px;
  animation: fade-up 1500ms 1000ms;
}
.header__btn:hover {
  background-color: rgb(120, 15, 15);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.header__btn:active {
  transform: translateY(2px);
}
.header__img--wrapper {
  height: 45vh;
}
.header__img {
  height: 100%;
  animation: fade-up 1600ms 1100ms;

 
}
/*AIMS*/
#aims{
    background-image: linear-gradient(#df05058c,#ef74748c );
    padding: 128px 0;
    
}
.main__title{
    text-align: center;
    font-size: 32px;
    color:white ;
    padding-bottom: 72px;


}
.aims__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.aim{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 24px;
}
.aim__img{
    border: solid 1px rgb(86, 12, 12);
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-size: 32px;
    margin-bottom: 24px;
    color: #671414;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}
.paki{
    width: 65%;
    
}
.aim__title{
    color: #671414;
    padding-bottom: 8px;

}
.aim__para{
    color: #242424;
}
/*PRODUCTS*/
#Products{
    background-image:linear-gradient(#ef74748c,#e00e0e8c);

}

.product__img{
    
    transition: all 300ms ease;
    width: 100%;
    
    
    
}

.product__img--wrapper{
    overflow:hidden;
    border-radius: 25px;
    height: 25vw;
    margin: 16px 24px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#products{
  padding: 0 32px;
}
.img1{
  height: 27.5vw;
}
.img2{
  height: 28vw;
}
.img3{
  height: 24vw;
}
.img5{
  height: 23vw;
  
}
.img6{
  height: 24vw;
}
.product__img:hover{
    transform: scale(1.05);
}

.product__list{
    display: flex;
    flex-wrap: wrap;
}
.product{
    width: calc(100%/3);

}
.product__title{
  text-align: center;
  color: rgb(86, 12, 12);
  font-size: 24px;
}
.wr2{
  padding-top: 3vw;
}
.wr3{
  padding-bottom: 2vw;
}
.wr5{
  padding-top: 2vw;
}
.wr6{
  padding-bottom: 1vw;
}
.product__price{
  text-align: center;
  color:white;
}
.Product__footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product__footer--text{
  text-align: center;
  margin: 72px 0 0 0;
  margin-bottom: 24px;
  font-size: 32px;
  width: 70%;
}
.product__btn{
  text-align: center;
  text-decoration: none;
  padding: 20px 40px;
  border-radius: 24px;
  background-color: #242424;
  color: white;
  font-size: 20px;
  transition: all 300ms ease;
}
.product__btn:hover {
  background-color: white;
  color: #242424;
  font-weight: bolder;
}
/*TESTES*/
#testimonials{
  background-image: linear-gradient(#e00e0e8c,#c702028c);
  padding: 96px 0;
}
.testimonial__subtext{
  font-size: 24px;
  text-align: center;
  color: #242424;
  padding-bottom: 32px;
}
.testimonial__title{
  text-align: center;
    font-size: 32px;
    color:white ;
    padding-bottom: 48px;
}
.testimonial__list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.testimonial:nth-child(odd){
  transform: translateX(-15vw);
}
.testimonial:nth-child(even){
  transform: translateX(15vw);
}
.testimonial{
  width: 60%;
  background-color: whitesmoke;
  margin: 32px 0;
  padding: 32px 16px;
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviewer__info{
  width:8vw;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.reviewer__img--wrapper{
  width: 250px;
  margin-right: 24px;
  

}
.reviewer__img{
  width: 100px;
  border-radius: 500px;
  border: 1px black solid;
}
.reviewer__name{
  
  font-size: 16px;
  color: #242424a6;
  margin-bottom: 8px;
}
.review__rating{
  font-size: 14px;
  color: goldenrod;
  margin-bottom: 8px;
  margin-left: 8px;
}
.review__text--header{
  display: flex;
}
/* FOOTER*/
footer{
  background-color: #df0506;
  border-top: 4px solid #242424;
  
}
.footer__wrapper{
  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-content: center;
}
.footer__logo--wrapper {
  display: flex;
  align-items: center;
  padding-left: 24px;
  background-color: #df0506;
  padding: 0px 32px 0px 0;
  padding-bottom: 12px;
  
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
}
.footer__logo__para {
  font-size: 16px;
  color: #242424;
  transition: all 500ms ease;
  text-decoration: none;
}
.footer__logo {
  height: 80px;
}
.footer__logo__title {
  font-size: 36px;

  letter-spacing: 0.02em;
  color: #242424;
  transition: all 500ms ease;
  text-decoration: none;
}
.footer__social--links{
  display: flex;
  margin: 16px 0 16px 0;
}
.footer__social--link{
  margin: 0px 8px 0px 8px;
  padding: 8px;
  background-color: #242424;
  border-radius: 50%;
  color: white;
  transition: 300ms all ease;

  
}
.facebook{
  padding: 8px 12px;
  
}
.mail{
  padding: 8px 10px;
}
.insta{
  padding: 8px 11px;
}
.whatsapp{
  padding: 8px 10.5px;
}
.footer__anchor{color: white;
}
/*.footer__social--link:hover{
  background-color: #4a4949;
}*/
.facebook:hover{
  background-color: #3b5998;
}
.mail:hover{
  background-color: #671414;
}
.insta:hover{
  background-color: #8a3ab9;
}
.whatsapp:hover{
  background-color: #25D366;
}
.footer__copyright{
  font-weight: bold;
  padding-top: 12px;
}
.logo__text:hover .footer__logo__title{
  color: white;
}
.logo__text:hover .footer__logo__para{
  color: white;
}
@media(max-width:780px){
  .btn__menu{
    display: block;
  }
  .nav__link--list{
    display: none;
  }
  .link__hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0px;
    bottom: 24px;
    right: 0;
    transition: all 300ms ease;
  }
  .header__title{
    font-size: 32px;
  }
  .header__para{
    font-size: 16px;
  }
  .aim{
    width: 50%;
    margin-bottom: 32px;
  }
  .product{
    width: 50%;
  }
  .product__img--wrapper{
    height: 40vw;
    
  }
  .img1{
    height: 40vw;
  }
  .img2{
    height: 44vw;
  }
  .img3{
    height: 32vw;
  }
  .img5{
    height:30vw ;
  }
  .img6{
    height: 32vw;
  }
  .product__title{
    font-size: 20px;
    
  }
  .product__price{
    font-size: 16px;
  }
  .product__footer--text{
    font-size: 28px;
  }
  .testimonial:nth-child(even),.testimonial:nth-child(odd){
    transform: translateX(0);
  }
  .testimonial{
    width: 90%;
  }
  .review__para{
    font-size: 16px;
  }
  .reviewer__img{
    width: 100px;
  }
  


}
@media(max-width:550px){
  .aim{
    width: 100%;
  }
  .product{
    width: 100%;
    margin-bottom: 64px;
  }
  .product__img--wrapper{
    height: 72vw;
  }
  .img1{
    height: 70vw;
  }
  .img2{
    height: 72vw;
  }
  .img3{
    height: 65vw;
  }
  .img5{
    height: 63vw;
  }
  .img6{
    height: 65vw;
  }

}
@media(max-width:452px){
  .review__para{
    font-size: 14px;
  }
  .header__img--wrapper{
    height: 35vh;
  }
  .review__text--header{
    flex-direction: column;
  }
  .review__rating{
    margin-left:0;
  }
  .testimonial{
    flex-direction: column;
    text-align: center;
  }
  .reviewer__img--wrapper{
    margin: 0 0 12px 0;
  }
  
}
@media(max-width:358px){
  .header__img--wrapper{
    height: 50vw;
  }
}